.DS_Store
arduino/SMS/.vscode/.BROWSE.C_CPP.DB
arduino/SMS/.vscode/.BROWSE.C_CPP.DB-shm
arduino/SMS/.vscode/.BROWSE.C_CPP.DB-wal
arduino/SMS/.vscode/c_cpp_properties.json
arduino/SMS/.vscode/extensions.json
arduino/SMS/.vscode/launch.json
arduino/SMS/.vscode/settings.json
*.code-workspace
