
/* 
 *	 Server Monitoring System
 *		Mariano Sciacco
 *	 	 Web app CSS
 */

@font-face {
	font-family: Titillium Web;
	src: url(font/TitilliumWeb-Regular.ttf);
}
  
 

body{
	background-color: #444;
	color: #333;
	font-family: Titillium Web, Arial, sans-serif;
	font-size: 10.5pt;
	line-height: 150%;
}
h1,h2,h3,h4{
	color:  #606060;
}
h1{
	font-size: 140%;
	color:  #4C7D7C;
	text-shadow: 0px 1px 0 #e4e4e4;
}
h2{
	font-size: 115%;
	color: #619f9e;
	text-shadow: 0px 1px 0 #e4e4e4;
}
header, nav, article, footer{
	max-width: 1000px;
	width: auto;
	margin: 0 auto;
	padding: 10px;
}
header{
	background-color: #CCC;
	border-bottom: 1px solid #AAA;
	text-align: center;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
nav{
	background-color: #ede8e6;
	border-bottom: 1px solid #999;
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;
}
nav a{
	margin-right: 5px;
	margin-top: 5px;
	display:  inline-block;	
	flex-grow: 1;
	background-color: #FFF;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover{
	background-color: #FAFAFA;
}
a{
	color: #6da5a4;
}
a:hover{
	color: #906da5;
}
footer a{
	color: #444;
}
footer a:hover{
	color: #CCC;
}
article{
	background-color: #FAFAFA;
	min-height: 150px;
}
footer{
	background-color: #e3e3e3; /*#88a4a4;*/
	color: #666;
	text-align: right;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 80%;
	border-top: 1px solid #CCC;
}
span.good{
	color: green;
}
span.bad{
	color: darkred;
}
span.box{
	display: block;
	border-radius: 3px;
	padding: 10px;
	background-color: #e6e8ed;
}
span.box.good{
	background-color: #dce5da;
}
span.box.bad{
	background-color: #e5dada;
}
ul.dir{
	list-style-type: none;
}

ul.dir li{
	margin-left: -15px;
}
input{
	margin: 5px;
}
.responsive{
	overflow-x: auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
td,th{
	padding: 3px 5px;
}
table.sortable th{
	cursor: pointer;
}
tr{
	background-color:  #E9E9E9;
	border-bottom: 1px solid #CCC;
}
tr:last-child{
	border-bottom: none;
}
tr:nth-child(odd){
	background-color:  #FFF;
}
#checker{
	font-size:  80%;
}
.tdcenter td{
	text-align: center;
}
.hide{
	display: none !important;
}


/* Imported from CodeBurst.io - Pure CCS3 iOS Switch */

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 #4ed164;
  border-color: #4ed164;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

textarea {
	min-width: 99%;
}