
.widgets-container{
	width: auto;
}

.widgets-container .widget{
	display: inline-block;
	width: auto;
	min-width: 48%;
	height: auto;
	background-color: #D9D9D9;
	padding: 0;
	margin: 10px 5px;
	border-radius: 4px;
	border-bottom: 1px solid #B5B5B5;
	color: #444;
	vertical-align: top;
}


.widget .title{
	padding: 10px;
	font-size: 130%;
	font-weight: bold;
	border-bottom: 1px solid #AAA;
	color: #687d83;
	background-color: #FAFAFA96;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.widget .title i{
	margin-right: 3px;
}

.widget .content{
	padding: 10px;
	font-size: 120%;

}

@media only screen and (min-width: 1021px)
{
	.widgets-container .widget{
		min-width: 480px;
	}	
}

@media only screen and (max-width: 700px)
{
	.widgets-container .widget{
		min-width: auto;
		max-width: 100%;
		display: block;
		margin: 20px 0;
	}	
}


/* Widget colors */

.widget-success{
	background-color: #D2E1AD !important;
	border-color: #B1B9AB !important;
	color: #275E43 !important;
}
.widget-success .title{
	border-color:  #87A836;
	color: #275E43;
}


.widget-danger{
	background-color: #E1ADAD !important;
	border-color: #8A8181 !important;
	color: #c04545 !important;
}
.widget-danger .title{
	border-color:  #A83636 !important;
	color: #c04545;
}


.widget-warning{
	background-color: #E1C9AD !important;
	border-color: #8A8681 !important;
	color: #a66c38 !important;
}
.widget-warning .title{
	border-color:  #A87D36;
	color: #a66c38;
}
